.nav-bar {
  height: 45px;
  width: 100%;
  padding: 0 20px;
  transition: height .2s ease;
  display: block;
  background-image: linear-gradient(90deg,#3880ff 15%,#67a7ff 100%);
  border-top: 2px solid white;
  &.active {
    height: 170px;
    button#add {
      ion-icon {
        transform: rotate(45deg);
      }
    }
  }
  button{
    color: white;
    &#add {
      display: block;
      background-image: linear-gradient(90deg,#3880ff 15%,#67a7ff 100%);
      position: relative;
      border: 2px solid white;
      border-radius: 50%;
      top: -30px;
      left: calc(50% - 30px);
      width: 60px;
      height: 60px;
      padding-left: 7px;
      text-align: center;
      line-height: 60px;
      font-size: 47px;
      transition: transform .2s linear;
    }
    &#settings{
      border: none;
      background-color: initial;
      font-size: 30px;
      position: absolute;
      top: 3px;
      right: 10px;
    }
  }
  input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #3880ff;
    border-radius: 15px;
    font-size: 18px;
    margin-top: -15px;
  }
  button#send {
    display: block;
    margin: 10px auto;
  }
}
